body {
	font-family: sans-serif;
}

.talkieList h1 {
	font-size: 16pt;
}

.talkieList ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
} 

.talkieList ul li:first-child {
	border-top: 0px;
} 

.talkieList ul li {
	border-top: 1px solid #cccccc;
} 

.talkieTime {
	font-size: 8pt;
}

.talkieLocation {
	font-size: 8pt;
}

.talkieForm h1 {
	font-size: 16pt;
}

input.error {
	background-color: #ffcccc;
}

div.errors {
	background-color: #ffcccc;
	border: 2px solid red;
}